.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position:fixed;/*va con top*/
  top: 0px; /*va con fixed, ubicada parte superior de la páginaa 0px del borde*/
  background-color: rgb(245, 245, 198);
  width: 100%;/*todo el ancho de la ventana*/
  display: flex; /*separa los textos*/
  justify-content:space-around; /*separa y centra los textos*/
  align-items: center;
  min-height: 50px;  /*para que quede centrado*/
  min-width: 600px;/*ancho mínimo aunque se modifique el tamaño de la ventana del navegador*/
}

.link{
  text-decoration: none; /*sacar el subrayado de los links*/
}

.botonContador{
  background-color: aquamarine;
}

.listadoPersonajes{
  margin-top: 50px;
  display: grid; /* va con grid-template-columns*/
  grid-template-columns: 30% 30% 30%;/*va con display:grid, para q se vea en 3 columnas con separacion*/
}

.buscador{
  display: grid; 
  grid-template-columns: 50% 50%;
}